.intro-wrapper {
    display:block;
    max-width:fit-content;
    padding:15% 0% 10% 10%;

    box-sizing: border-box;
}


.intro {    
    display:flex;
    flex-direction: row;
    align-items: center;

    min-height:100%;

    position:relative;
}

.intro > div {
    flex:0 0 50%;
    height:100%;
    /* position:relative; */

}

.col2 > img {
    border-radius: 0.5rem;
    object-fit: cover;
    height:auto;
    vertical-align: middle;
    box-sizing: border-box;
}

.col1 > div {
    min-width:50%;
}

.sub-text {
    flex:0 0 100%;
    text-align: left;
    width: 50%;
}

/*----------------button styling-----------------*/

.intro-btns {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro-btn {
    font-size:35px;
    border-radius: 24px;
    padding:15px;
    font-weight:normal;
}

.intro-btn:hover {
    color:rgb(40, 40, 40);
    background-color: white;
}

.learn-btn {
    border:solid;
    border-width: 1px;
    border-color:white;
    color:white;
    background-color: transparent;
}

.launch-btn {
    border:solid;
    border-width: 1px;
    border-color:white;
    color:white;
    background-color: transparent;
}

/* --------------------- Email Input Styling ----------------------- */

.signup-form {
    height:auto;
    min-height:auto;
    min-width:500px;
}

.email-box  {
    display:flex;
    justify-content: space-between;
    flex-grow:1;
    flex-shrink:1;

    border:solid;
    padding:8px;
    border-radius:0.25rem;
    width:100%;
    height:100%;
}

.email-input {
    flex-grow:1;
    border:none;
    background-color: transparent;
    font-size:20px;    
    padding:20px;
    color:white;
}

.email-box > button {
    flex-grow:1;
    font-size: 16px;
    background-color:rgb(0, 0, 142);
    color:white;    
    padding: 10px;
    border-radius: 0.25rem;
    border:none;
}

.email-box > button:hover {
    cursor:pointer;
}


