.App {
  text-align: center;
}

.container {
  min-height:100vh;
  background-color: rgb(40, 40, 40);

  display:flex;
  flex-direction: column;
  
}

.btn:hover {
  cursor:pointer;
}


.section-label {
  font-size:50px;
  font-weight:bold;
}

.white-text {
  color:white;
}

.sub-text {
  font-size:25px;
}

.yellow-text {
  color:yellow;
}