.App {
  text-align: center;
  position:fixed;

  width:100%;
  aspect-ratio: 2896/734;
}

.container {
  min-height:100vh;  

  display:flex;
  flex-direction: column;
}

.btn:hover {
  cursor:pointer;
}


.section-label {
  font-size:50px;
  font-weight:bold;
  text-align: left;
}

.sub-text {
  font-size:25px;
}

.white-text {
  color:white;
}

.yellow-text {
  color:yellow;
}

.navy-text {
  color:rgb(0, 0, 142);
}

.left-col {
  display: flex;
  flex-direction: column;
  align-items: start;
}