.App {
  text-align: center;
  min-height: fit-content;
}

.container {
  display: block;
  box-sizing: border-box;
  height:100%;
}

.btn:hover {
  cursor:pointer;
}


.left-col {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.no-outline:focus {
  outline:none;
}

/* --------------- text formatting --------------- */

.section-label {
  font-size:50px;
  font-weight:bold;
  text-align: left;
}

.sub-text {
  font-size:25px;
}


.box-glow {
  box-shadow: 5px 5px 5px 5px white;
}

.text-glow {
  text-shadow:1px 1px 2px white;
}

.white-text {
  color:white;
}

.yellow-text {
  color:yellow;
}

.navy-text {
  color:rgb(2, 2, 146);
}

.gray-text {
  color:gray;
}